/* Impostazioni globali */
body {
  margin: 20px 20px 20px 20px;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}

input,
textarea,
select {
    font-size: 16px; /* Imposta la dimensione del testo desiderata */
    max-width: 100%; /* Imposta la larghezza massima per evitare overflow */
    touch-action: manipulation; /* Disabilita lo zoom e lo scorrimento del touch */
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

.header a {
  /* display: none */
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  background: whitesmoke;
  width: fit-content;
  padding: 3px 6px 0px 6px;
  border-radius: 10px;
}

.rapidnavigationbar {
  display: inline-flex;
  margin-top: 40px;
}

.filter {
  font-family: 'Poppins', sans-serif;
  font-size: .8em;
  display: flex;
  align-items: center;
  background: whitesmoke;
  width: fit-content;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  color: black;
}

.filter-link {
  text-decoration: none;
}

.filter a {
  color: black;
}

.filter label {
  margin-left: 5px;
  cursor: pointer;
}

.filter-search input {
  width: 140px;
  padding: 3px 5px 3px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
}

/* MENU */
.menu {
  display: none;
  background: whitesmoke;
  padding: 0;
  border-radius: 10px;
}

.menu li:last-child {
  text-decoration: underline;
}

.menu-open .menu {
  display: block;
}

.menu a {
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.menu ul {
  list-style-type: none;
  padding: 40px 30px;
}

.menu li {
  padding: 25px 10px;
}

.menu li:last-child {
  margin-top: 50px;
}

/* SEARCHBAR */
.menu .searchbar input {
  display: none;
}

/* FILTERS */

.filter-container {
  display: none;
}

/* MEDIA QUERIES */

/* Max-width 350px */
@media (max-width: 400px) {
  .header h1 {
    font-size: 1.5em;
  }

  .menu {
    margin-left: 0;
    border-radius: 5px;
  }

  .filter-search input {
    margin-left: 40px;
  }
}

/* Min-width 350px e max-width 767px */
@media (min-width: 401px) and (max-width: 600px) {
  .header h1 {
    font-size: 3em;
    display: inline;
    margin: 0;
  }

  .header a {
    display: inline-block;
  }

  .menu {
    margin-left: 50px;
  }

  main {
    padding: 10px;
  }

  .filter {
    font-size: 1em;
    padding: 10px 10px 10px 10px;
  }

  .rapidnavigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.filter-link,
.filter-search {
    flex: 1; /* Occupa lo spazio rimanente */
    margin: 0 10px; /* Aggiungi margine ai lati degli elementi */
}

.filter {
    display: flex;
    align-items: center;
}

.filter ion-icon {
    margin-right: 5px;
}

.filter input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  .filter-search input {
    margin-left: 75px;
    height: 30px;
    padding-left: 10px;
  }
}

/* Min-width 768px e max-width 1023px */
@media (min-width: 601px) and (max-width: 1023px) {
  .header h1 {
    font-size: 3em;
    display: inline;
    margin: 0;
    margin-top: 20px;
  }

  .header a {
    display: none;
  }

  .menu {
    display: block;
    background: none;
  }

  .menu ul {
    display: flex;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 10px;
  }

  .menu li {
    padding: 25px 10px;
  }

  .menu li:first-child {
    padding-left: 20px;
  }

  .menu li:last-child {
    margin-top: 0;
    margin-right: 200px;
  }

  .menu a.login-link {
    text-decoration: underline;
  }

  .menu a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  main {
    padding: 10px;
  }

  .filter-search input {
    margin-left: 75px;
    height: 35px;
    padding-left: 10px;
    width: 300px;
  }

  .filter {
    font-size: 1.1em;
    padding: 12px 20px 12px 20px;
  }

  
.filter ion-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

}

/* Min-width 1024px e max-width 1040px */
@media (min-width: 1024px) and (max-width: 1040px) {
  .header h1 {
    margin-left: 40px;
    top: 0;
    font-size: 2.5em;
    position: absolute;
  }

  .header {
    position: absolute;
  }

  .header a {
    display: none !important;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin-left: 420px;
    display: flex;
    background: whitesmoke;
  }

  .menu li {
    padding: 25px 15px;
  }

  .menu li:last-child {
    margin-top: 0;
  }

  .menu a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
  }

  main {
    padding: 10px;
  }


  .filter-search input {
    margin-left: 75px;
    height: 35px;
    padding-left: 10px;
    width: 300px;
  }

  .filter {
    font-size: 1.1em;
    padding: 12px 20px 12px 20px;
  }

  
.filter ion-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

}

/* Min-width 1041px e max-width 1300px */
@media (min-width: 1041px) and (max-width: 1300px) {
  .header h1 {
    font-size: 2.5em;
    display: inline;
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
  }

  .header a {
    display: none;
  }

  .menu {
    display: block;
    background: whitesmoke;
    border-radius: 0;
    margin: 30px -20px 0 -20px;
  }

  .menu .searchbar input {
    display: block;
    width: 200px;
    height: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 18px;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  }

  .menu .searchbar input:focus {
    outline: 1px solid gray;
  }

  .menu ul {
    display: flex;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    justify-content: space-between;
  }

  .menu li {
    padding: 25px 10px;
  }

  .menu li:last-child {
    margin-top: 0;
    margin-right: 200px;
  }

  .menu a:Hover {
    opacity: 1;
  }

  .menu a.login-link {
    text-decoration: underline;
  }

  .menu a {
    display: inline-block;
    color: black;
    opacity: .8;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ;
  }

  main {
    padding: 10px;
  }

  .rapidnavigationbar .filter-search {
    display: none;
  }

  .filter {
    font-size: 1.1em;
    padding: 12px 20px 12px 20px;
  }

.filter ion-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

}

/* Min-width 1041px e max-width 1300px */
@media (min-width: 1301px) {
  .header h1 {
    font-size: 2.5em;
    display: inline;
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
  }

  .header a {
    display: none;
  }

  .menu {
    display: block;
    background: whitesmoke;
    border-radius: 0;
    margin: 30px -20px 0 -20px;
  }

  .menu .searchbar input {
    display: block;
    width: 350px;
    height: 40px;
    margin-right: 130px;
    margin-left: 280px;
    margin-top: 23px;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  }

  .menu .searchbar input:focus {
    outline: 1px solid gray;
  }

  .menu ul {
    display: flex;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    justify-content: space-between;
  }

  .menu li {
    padding: 35px 10px;
  }

  .menu li:last-child {
    margin-top: 0;
    margin-right: 200px;
  }

  .menu a:Hover {
    opacity: 1;
  }

  .menu a.login-link {
    text-decoration: underline;
  }

  .menu a {
    display: inline-block;
    color: black;
    opacity: .8;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  main {
    padding: 10px;
  }

  .rapidnavigationbar .filter-search {
    display: none;
  }

  .filter {
    font-size: 1.1em;
    padding: 12px 20px 12px 20px;
  }

  
.filter ion-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

}

/*FILTER*/
.filter-open .filter-container {
  display: block;
}
.filter-container {
  margin-left: 20px;
  margin-top: 50px;
}

.filter-container h3 {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.7px;
}

.selected-label {
  display: inline-block;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 3px;
}

.range-label {
  display: block;
}

.range-input {
  display: block;
  margin: 5px 0;
}

.range-value {
  display: inline-block;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}

.range-container input {
  margin-left: 10px;
  accent-color: #00004d;
}

.checkbox-column input[type="checkbox"]:checked {
  accent-color: #00004d;
}

.checkbox-column label {
  font-size: 1.1em;
}

.range-container {
  display: flex;
  align-items: center;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  gap: 20px
}
  
.checkbox-column input {
  margin-right: 10px;
}  


/* FOOTER */
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 1000px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer-section {
  flex-basis: 100%;
  max-width: 300px;
  padding: 0 20px;
}

.footer-section.follow {
  text-align: center;
  margin-top: 20px;
}

.footer-section.follow ion-icon {
  font-size: 28px;
  margin: 0 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.footer-bottom p {
  font-size: 14px;
  color: #777;
}

/* Reattività fino a 250px */
@media (max-width: 250px) {
  .footer-content {
    flex-direction: column;
  }
  
  .footer-section {
    max-width: 100%;
  }
}



/*LOGIN-PAGE*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
  margin: 0;
  padding: 0;
}

.content {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
}

.email-input,
.password-input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: .85em;
}

.login-button {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.login-header img {
  height: 100px;
  width: auto;
}

.login-header h5 {
  margin-bottom: 40px;
  font-weight: 400;
  margin-left: 15px;
}

.register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  padding: 50px 0;

  background:
  conic-gradient(at 62.5% 12.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(47px/-8) calc(47px/2),
  conic-gradient(at 62.5% 12.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(-3*47px/8) calc(47px/4),
  conic-gradient(at 87.5% 62.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(3*47px/8) calc(47px/4),
  conic-gradient(at 87.5% 62.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(47px/-8) 0,
  conic-gradient(at 25% 12.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) 0 calc(47px/-4),
  conic-gradient(at 25% 12.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(47px/-4) 0,
  conic-gradient(at 87.5% 87.5%, rgba(230, 227, 227, 0.52) 25%, #0000 0) calc(47px/8) 0
  #ffffff;
background-size: 47px 47px;
}

.register-link span {
  font-weight: 600;
}

.register-link a {
  margin-left: 10px;
  text-decoration: underline;
  color: #404040;
}

/*REGISTER-PAGE*/
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
  margin: 0;
  padding: 0;
}

.content {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
}

.email-input,
.password-input,
.username-input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: .85em;
}

.register-button {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.register-header img {
  height: 100px;
  width: auto;
  margin-left: 20px;
}

.register-header h5 {
  margin-bottom: 40px;
  font-weight: 400;
  margin-left: 35px;
}

.login-link span {
  font-weight: 600;
}

.login-link a {
  margin-left: 10px;
  text-decoration: underline;
  color: #404040;
}

/*HELP-PAGE*/
.survey-container {
  /* background-color: #ccc; */
  padding: 20px;
/*   border: 1px solid #ccc; */
  border-radius: 15px;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.survey-container input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
}

.survey-container h1 {
  margin-bottom: 50px;
}

.survey-container .remember-faq {
  margin-top: 50px;
  margin-bottom: 25px;
}

.survey-container  .remember-faq label a {
  text-decoration: underline;
  color: #404040;
  font-weight: 600;
}

.survey-container .help-form-header img {
  height: 40px;
  width: auto;
}

.survey-container button {
  width: 100%;
  padding: 15px;
  border: none;
  color: white;
  background: black;
  border-radius: 5px;
  font-size: .9em;
  letter-spacing: .5px;
}

@media (max-width: 768px) {
  .survey-container {
      width: 90%;
  }

  textarea {
    height: 70px;
  }
}

@media (max-width: 480px) {
  .survey-container {
    width: 70%;
}

  textarea {
    height: 100px;
  }
}

textarea {
  display: block;
  margin: 0 auto; /* Allinea l'input al centro */
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}


/*SUCCESS-PAGE*/
.success-container {
  width: 500px;
  height: 500px;
  /* background-color: ; */

  background:
      conic-gradient(at 62.5% 12.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(48px/-8) calc(48px/2),
      conic-gradient(at 62.5% 12.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(-3*48px/8) calc(48px/4),
      conic-gradient(at 87.5% 62.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(3*48px/8) calc(48px/4),
      conic-gradient(at 87.5% 62.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(48px/-8) 0,
      conic-gradient(at 25% 12.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) 0 calc(48px/-4),
      conic-gradient(at 25% 12.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(48px/-4) 0,
      conic-gradient(at 87.5% 87.5%, rgba(239, 239, 239, 0.52) 25%, #0000 0) calc(48px/8) 0
      #ffffff;
  background-size: 48px 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-container h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.success-container a {
  text-decoration: none;
  color: rgb(229, 229, 229);
  margin-top: 20px;
  background: black;
  outline: none;
  border: none;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  font-size: .9em;
  letter-spacing: .5px;
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
  .success-container {
      width: 90%;
      height: auto;
      padding: 50px 20px 50px 20px;
  }
}

/* Media query per viewport */
@media (max-width: 480px) {
  .success-container {
      width: 70%;
      height: auto;
  }
}

/*PRODUCT*/
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
}

.product img {
  max-width: 100px;
  height: 110px;
  border-radius: 3px;
  height: auto;
  margin-right: 10px;
}

.product-info {
  flex: 1;
}

.product-title {
  font-weight: bold;
  margin: 5px 0;
}

.product-price {
  color: green;
}

.product-details {
  margin-top: 10px;
}

.product-details span {
  display: block;
  margin-bottom: 5px;
}

/* Media queries per la reattività */
@media screen and (max-width: 850px) {
  .product {
    flex: 0 0 calc(100% - 20px);
    flex-direction: column;
    align-items: center;
  }

  .product img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-info {
    text-align: center;
  }
}



